

.parallax {
    position: relative;
    z-index: 5;

    background-attachment: fixed;
}

.parallax_cute {
    background-image: url(../../img/parallax/parallax-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.parallax__mask {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}

.parallax__mask_special-1 {
    background-color: var(--color-basic-1_special-2);
}

.parallax__main {
    position: relative;
    z-index: 7;
}